@import url("https://fonts.googleapis.com/css?family=Sofia");

* {
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Poppins", cursive;
}

body {
	background: ghostwhite;
}

#dashboard {
	padding-left: 125px;
	width: 100%;
	height: 100vh;
	background: #ADEFD1FF;
	padding-top: 23px;
}

.cards {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr)); /* Ensures proper sizing */
	grid-gap: 30px;
}

.card-single {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 145px;
	width: 275px;
	border-radius: 9%;
	box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.29), 6px 6px 20px 0 rgba(0, 0, 0, 0.29);
	border: 1px solid black;
	color: #ADEFD1FF;
	background: #00203fff;
	padding: 0 20px;
}

.card-single .fa-city,
.card-single .fa-users,
.card-single .fa-building,
.card-single .fa-coins {
	font-size: 32px;
}

.card-single h1,
.card-single span {
	display: block;
}

.card-single h1 {
	font-size: 26px;
	margin-bottom: 5px;
}

.card-single span {
	font-size: 16px;
	color: #ADEFD1FF;
}

.msg {
	font-size: 22px;
	color: #fff;
	background-color: #000;
	border: 1px solid #00203FFF;
	width: 400px;
	height: 150px;
	text-align: center;
	padding-top: 59px;
	position: fixed;
	top: calc(50% - 75px);
	left: calc(50% - 200px);
	z-index: 9;
	-webkit-animation: cssAnimation 5s forwards;
	animation: cssAnimation 5s forwards;
}

@keyframes cssAnimation {
	0% { opacity: 1; }
	80% { opacity: 0.8; }
	90% { opacity: 0.3; }
	100% { opacity: 0; }
}

@-webkit-keyframes cssAnimation {
	0% { opacity: 1; }
	80% { opacity: 0.8; }
	90% { opacity: 0.3; }
	100% { opacity: 0; }
}
